@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$off-white: #eee;

$aside: #243aa8;
$card-header: #1b2b7e;
$success_bg: #005700;
$success: #99ff99;
$failure_bg: #990000;
$failure: #ffe0e0;

*, *::before, *::after {
  box-sizing: border-box;
}

a[href^="mailto:"]::after {
  content: " \01f4e8";
}

body {
  background: $off-white;
  font-family: 'Arvo', Georgia, Times, serif;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.is-centred {
  text-align: center;
}

.details {
  white-space: pre-line;
}

.App {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

header {
  background: white;
  display: flex;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
}

aside {
  background: $aside;
  color: $off-white;
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  padding-top: 1rem;

  a {
    color: $off-white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
  }

  .active {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
}

.card {
  border: 1px solid darken($card-header, 10%);
  display: flex;
  flex-direction: column;

  &__header {
    background: $card-header;
    color: $off-white;
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem;

    small {
      font-size: 1.1rem;
    }
  }

  &__content {
    padding: 0 0.5rem;
  }
}

.launches, .missions, .rockets {
  padding: 1rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

  h1, h2 {
    grid-column: 1 / -1;
  }

  .success {
    background: $success_bg;
    color: $success;
  }

  .failure {
    background: $failure_bg;
    color: $failure;
  }
}

.holding {
  padding: 1rem;

  p {
    font-size: 1.2rem;
  }

  img {
    margin: 0 auto;
    width: 70vw;
  }
}

section.raw-data {
  border: 1px solid darken($off-white, 30);
  background: 1px solid darken($off-white, 10);
  overflow-x: scroll;
  padding: 0.5rem;
  width: 80vw;
  height: 60vh;

  h2 {
    font-size: 1.5rem;
  }

  pre {
    font-size: 0.9rem;
    word-break: break-word;
  }
}

.loading {
  font-size: 2rem;
  text-align: center;
}
